<h1>Editar Cliente</h1>

<%= render 'form', cliente: @cliente %>

<%= link_to 'Mostrar', @cliente, :class => "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', clientes_path, :class => "btn btn-danger btn-sm" %>
