<h1 class="text-center">Dashboard</h1>

<div class="text-center">
    <%= link_to 'Cadastrar Cliente', new_cliente_path, :class => "btn btn-default btn-lg" %>

    <%= link_to 'Cadastrar Produto', new_produto_path, :class => "btn btn-default btn-lg" %>
   
</div>

